body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

h1 {
    color: #4CAF50;
}

a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #4CAF50;
}

nav {
    margin: 10px 0;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 8px 0;
}

.container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}
